body{
    padding: 0;
    margin: 0;
    background-color: #d9d9d9;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 48px;
    background-color: white;
}
.logo{
    width: 100px;
    height: 35px;
    background-color: #d9d9d9;
    border-radius: 3px;
}
.nav-links{
    display: flex;
    gap: 30px;
}
.nav-links a{
    color:black;
    text-decoration: none;
}
.hero{
    padding: 80px 48px 120px;
    text-align: center;
}
.featured{
    text-align: center;
    padding: 64px 48px;
}
.photo{
    width: 300px;
    height: 300px;
    background-color: white;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 80px;
    justify-content: center;

}